# Python cache
__pycache__/

*.pyc

# Virtual environment
venv/
.venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Trained models
*.pth
*.pt

# Temporary files
*.tmp

# Trained models
models/saved/